@using MDManagement.Web.ViewModels.Management
@model CompanyCreationInputModel
@inject Microsoft.AspNetCore.Identity.SignInManager<MDManagement.Data.Models.Employee> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<MDManagement.Data.Models.Employee> UserManager

@{
    ViewData["Title"] = "Company Creation";


    string loggedUser = null;

    if (UserManager.GetUserId(this.User) != null)
    {
        loggedUser = UserManager.GetUserId(this.User);

    }
}


        <form asp-action="CompanyCreation" method="post">
            
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="BossTitle"></label>
                    <input asp-for="BossTitle" class="form-control" />
                    <span asp-validation-for="BossTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="offset-md-1 col-md-10">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            
            <input asp-for="CurrentEmployeeId" type="hidden" value="@loggedUser">

            <input type="submit" class="btn btn-warning btn-xl mt-4" />

        </form>
