@using MDManagement.Web.ViewModels.Project
@model CreateProjectViewModel
@{
    ViewData["Title"] = "Create a Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   

    <form asp-action="Create" method="post" class="bg-primary p-4 rounded shadow">
       
        <div class="row justify-content-start">
            <h1 class="ml-4">Create new project</h1>
        </div>
        <hr />
        <div class="form-row bg-primary">
           
            <div class="col-md-6">
                <div>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="ProjectManagerNick"></label>
                    <input asp-for="ProjectManagerNick" class="form-control" />
                    <span asp-validation-for="ProjectManagerNick" class="text-danger"></span>
                </div>

                
            </div>
            <div class="col-md-6">
                <div>
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        

        

        <input type="submit" class="btn btn-warning btn-xl mt-3" />

    </form>
