@using Microsoft.AspNetCore.Identity
@inject SignInManager<MDManagement.Data.Models.Employee> SignInManager
@inject UserManager<MDManagement.Data.Models.Employee> UserManager
@inject MDManagement.Services.Data.ICompanyDataService companyService
@{
    string companyNameHtml = "";
 }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MDManagement &trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">
                MDManagement &trade; @companyNameHtml
                @if (SignInManager.IsSignedIn(User))
                {
                    if (UserManager.GetUserAsync(User).Result.CompanyId != null)
                    {
                        int? companyId = UserManager.GetUserAsync(User).Result.CompanyId;
                        var companyName = companyService.FindById(companyId).Name;
                        companyNameHtml = $"- {companyName} ";
                    }
                }

            </a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">MDManagement &trade;<i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (this.User.IsInRole("Manager"))
                    {
                        <li class="nav-item mx-0 mx-lg-1"><a asp-area="" asp-controller="Management" asp-action="AllEmployees">Employees</a></li>
                    }
                    @if (this.User.IsInRole("Manager") && companyService.HasEmployees(UserManager.GetUserAsync(User).Result.CompanyId))
                    {
                        <li class="nav-item mx-0 mx-lg-1"><a asp-area="" asp-controller="Management" asp-action="UnconfirmedEmployees">Unconfirmed employees</a></li>
                    }
                    @if (this.User.IsInRole("Manager"))
                    {
                        <li class="nav-item mx-0 mx-lg-1"><a asp-area="" asp-controller="Project" asp-action="AllProjects">All Projects</a></li>
                    }
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.CompanyId != null)
                    {
                        <li class="nav-item mx-0 mx-lg-1"><a asp-area="" asp-controller="Project" asp-action="MyProjects">My Projects</a></li>
                    }

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <header id="all" class="masthead bg-primary text-white text-center">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </header>


    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">Pernik <br /> Turgovska street 25 </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Our Mission</h4>
                    <p class="lead mb-0">Making bussiness easier</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © MDManagement 2020</small></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
